@model IEnumerable<flightmvc.Models.HetalBooking>

@{
    ViewData["Title"] = "ShowBookings";
}

<h1>All Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfPassengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfPassengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("Edit Booking", "EditBooking", new { id = item.BookingId }) |
                @Html.ActionLink("Booking Details", "BookingDetails", new { id = item.BookingId }) |
                @Html.ActionLink("Delete Booking", "DeleteBooking", new { id = item.BookingId })
            </td>
        </tr>
}
    </tbody>
</table>
